* {
    margin: 0;
    /*padding é o espaço interno da caixa, entre a borda e o elemento*/
    padding: 0;
    /*box sizing é a medida da caixa, que é estipulada abaixo em cada caixa específica, tipo na caixa container*/
    box-sizing: border-box;
  }

/*------------------PARA MOBILE------------------*/

body {
  width: 375px;
  display: flexbox;
  border: 2px solid blue;
  margin: auto; /*esse margin auto aqui no body coloca ele centralizado na página e não no canto esquerdo*/
  font-family: "Outfit", sans-serif;
  color: #5F574E;
}

/*imagem header*/
#container0 img {
  height: auto;
  width: 373px;
}

#container1 {
  /*border: 2px solid chartreuse;*/
  margin: 32px 30px auto 30px;
}

/*título da receita*/
h1 {
  font-family: "Young Serif", serif;
  /*colocar serif depois serve como backup para, caso de algo errado com a original, já carregue alguma parecida*/
  font-weight: 400;
  text-align: left;
  color: #302D2C
}

#container1 p {
  padding: 16px 0px;
  
}

.container2 {
  /*border: 2px solid purple;*/
  background-color: #FFF5FA;
  padding: 20px;
  margin-top: 16px;
}

.container2 h2 {
  color: #7B284F;
  padding-bottom: 16px;
}

.container2 li {
  padding: 0px 20px 10px 10px;
}

.container3 {
  /*border: 2px solid yellow;*/
  padding: 26px 0px;
}

.container3 h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: #854632;
  padding-bottom: 10px;
}

.container3 ul li {
  padding: 0px 0px 10px 10px;
}

