* {
    margin: 0;
    /*padding é o espaço interno da caixa, entre a borda e o elemento*/
    padding: 0;
    /*box sizing é a medida da caixa, que é estipulada abaixo em cada caixa específica, tipo na caixa container*/
    box-sizing: border-box;
  }

/*------------------PARA MOBILE------------------*/

body {
  width: 375px;
  display: flexbox;
  border: 2px solid blue;
}

/*imagem header*/
#container0 img {
  height: auto;
  width: 373px;
}

#container1 {
  padding: 32px;
}

/*título da receita*/
h1 {
  font-family: "Young Serif";
  font-weight: 400;
  text-align: left;

}


